@{
    ViewData["Title"] = "Add Confirmation";
}

@model movie

<!DOCTYPE html>

<html>
<head>
    <title>Movie Added</title>
</head>
<body>
<div>
      <h1>@Model.Title has been added to the database!</h1>
</div>
</body>
</html>