@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<h4>Hi my name is Joel here is a few links and information that you might find interesting!</h4>
<br>
<p>I minored in Film Studies at BYU, contracts as a movie reviewer for ClearPlay.</p>
<br>
<p>I frequently preform at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> you should come and see me preform.</p>
<br>
<p>I do a weekly podcast about films & pop culture called Baconsale. Check it out here: <a href="https://baconsale.com/">Baconsale</a> </p>
<img src="~/img/BaconsaleKate.jpg" alt="Baconsale" height="400">


